body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #121212;
    color: #e0e0e0;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 2px;
  }

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 10;
  font-style: normal;
}

  table {   
    max-width: 420px;
    width: 90%;
    background-color: #1e1e1e;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(72, 255, 0, 0.5);
  }

  th, td {
    text-align: center;
    border-bottom: 1px solid #2a2a2a;
    letter-spacing: 2px;
  }

  
  .col-time {
    text-align: left; 
    display: flex;
    align-items: center;
  }

.time-cell {
    display: flex;
    align-items: center;
    gap: 5px;           
  }
  .escudo {
    width: 25px;         
    height: 25px;
    object-fit: contain;
  }